@import 'variable';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url("chem.png");
    height: 100vh;
    background-position: center;
    background-size: contain;
    
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 46px;
    background: $navGradient;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: $navBorder;
    z-index: 10;

    #logo{
        color: $pcolorW;
        font-weight: 700;
        font-size: 4vh;
        margin: 9px;
        cursor: pointer;
        margin-left: 20px;
    }

    ul{
        margin-right: 20px;

        li{
            display: inline-block;
            margin: 14px;

            a{
                text-decoration: none;
                color: $pcolorW;
                padding: 10px;
                transition: 0.6s ease;
                border-radius: 10px;
            }

            a:hover{
                color: $pcolorB;
                background-color: $pcolorW;
            }
        }
    }
}

.catch{
    position: absolute;
    top: 70%;
    left: 37%;
    text-align: center;
    color: $catchColor;
    font-size: x-large;
}

.button{
    position: absolute;
    top: 84%;
    left: 38%;
    text-align: center;
    margin-top: 10px;

    #btn{
        padding: 10px;
        margin: 10px;
        background: $navGradient;
        color: $pcolorW;
        border: 1px solid transparent;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 37, 199, 0.658);
        transition: 0.3s; 
        cursor: pointer; 
        font-size: medium;   
    }

    #btn:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 37, 199, 0.658);
        padding: 11px;
    }
}

#bright{
    position: absolute;
    right: 5%;
    top: 10%;
    cursor: pointer;
    transition: 0.4s;
}

